
body,
html {
  background-color: #FFF;
  color: #000;
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

#cv-wrapper {
  width: 100%;
  height: 100%;
}

#main-container {
  width: 75%;
  height: 75%;
  position: relative;
  left: 50%;
  margin-left: -37.5%;
  border: 2px solid lightblue;
}
